@import "./alafrancaise.html";

.header
{
    &__img
    {
        background-color: #ffff;
        display: flex;
        flex-direction: row;
        width: 100%;
        & img
        {
            width: 5%;
        }
    }
}

.title
{
    &__heart
    {

        & i
        {
            width: 20%;
        }
    }
}

.enter
{
    &__vign
    {
        
    }
}

.plats
{
    &__vign
    {
       
    }
}

.desserts
{
    &__vign
    {
     
    }
}