@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-sérif;
}

.header__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

.header__img img {
  width: 50%;
  margin: 10px 10px 10px 20px;
}

.header__img i {
  text-decoration: none;
  color: black;
  width: 20px;
  height: 20px;
  margin: 10px;
}

.header__img a {
  margin: 5px 30px 5px 10px;
}

.vign {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 10px 0px;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.vign:hover .vign__text {
  width: calc(100% - 85px);
}

.vign__text {
  font-weight: bolder;
  font-size: 1rem;
  line-height: 1.4rem;
  padding-left: 7px;
  width: calc(100% - 30px);
  -webkit-transition: all .8s ease-in;
  transition: all .8s ease-in;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vign__text #li {
  font-size: .8rem;
  font-weight: lighter;
}

.vign__text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.vign__price {
  width: 30px;
  height: 30px;
  margin: 30px 10px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.vign__check {
  width: 0px;
  height: 60px;
  -webkit-transition: all .8s ease-in;
  transition: all .8s ease-in;
  border-radius: 0px 10px 10px 0px;
  margin: 0px;
  color: #ffff;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vign:hover .vign__check {
  width: 55px;
  -webkit-transition-timing-function: cubic-bezier(0.08, 0.32, 0.58, 0.98);
          transition-timing-function: cubic-bezier(0.08, 0.32, 0.58, 0.98);
}

.vign:hover .vign__check i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 900ms ease-in-out;
  transition: -webkit-transform 900ms ease-in-out;
  transition: transform 900ms ease-in-out;
  transition: transform 900ms ease-in-out, -webkit-transform 900ms ease-in-out;
}

.btn {
  width: 180px;
  height: 40px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 40px 20px 40px 60px;
}

.btn button {
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border-radius: 40px;
  width: 100%;
  height: 100%;
}

.btn p {
  color: #ffff;
}

.footer {
  background-color: #353535;
  color: #ffff;
  padding: 10px;
  line-height: 1.6em;
}

.footer a {
  text-decoration: none;
  color: #ffff;
}

.footer__h {
  font-size: 1em;
  font-weight: lighter;
  font-family: "Shrikhand";
  letter-spacing: 1.5px;
  margin: 10px;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 0px 0px 10px;
}

.footer__text i {
  width: 5%;
}

.footer p {
  margin-left: 10px;
}

.footer a {
  margin-left: 10px;
}

.body {
  -webkit-animation: load 4000ms ease-in-out;
          animation: load 4000ms ease-in-out;
}

.headera__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headera__img img {
  width: 50%;
  margin: 10px;
}

.bandeau {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.bandeau__research {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 15%;
  background-color: #eaeaea;
}

.bandeau__research input {
  width: 40%;
  margin-left: 10px;
  border: none;
  background: #eaeaea;
}

.bandeau__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.bandeau__text--primary {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 5px 0px 5px 0px;
}

.bandeau__text--secondary {
  font-weight: lighter;
  text-align: center;
  margin: 5px 0px 5px 0px;
}

.bandeau__btn {
  width: 180px;
  height: 40px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 20px;
}

.bandeau__btn button {
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border-radius: 40px;
  width: 100%;
  height: 100%;
}

.bandeau__btn p {
  color: #ffff;
}

.filtres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0px 20px 10px;
  height: 350px;
}

.filtres__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 10px 0px 10px;
}

.filtres__list li {
  list-style: none;
  margin: 20px 20px 20px 20px;
}

.filtres__list__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 20px 20px 20px;
  -webkit-box-shadow: 4px 3px 4px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 4px 3px 4px 0px rgba(0, 0, 0, 0.45);
  border-radius: 15px;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
}

.filtres__list__div:hover::after {
  opacity: 0.2;
}

.filtres__list__div::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #8641d8;
  border-radius: 15px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.filtres__list__div i {
  margin: 0px 30px 0px 0px;
}

.filtres__list__div__nb {
  position: absolute;
  top: 20px;
  left: -8px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #ffff;
  background: #9356dc;
  border-radius: 100px;
}

.backa {
  position: relative;
  background-color: #f6f6f6;
  padding: 20px 0px 20px 0px;
}

.restau {
  margin: 20px 15px 20px 15px;
}

.restau a {
  text-decoration: none;
  color: black;
}

.restau h1 {
  width: 100%;
  margin: 10px 0px 0px 10px;
}

.restau__vign {
  width: 95%;
  height: 200px;
  background-color: #ffff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 4px 3px 4px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 4px 3px 4px 0px rgba(0, 0, 0, 0.45);
  margin: 10px 5px 10px 5px;
}

.restau__vign__sticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  color: #088566;
  background: #99e2d0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.restau__vign__bvign {
  height: 20%;
  margin: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restau__vign__bvign__text {
  line-height: 1.3em;
}

.restau__vign__bvign__text__gr {
  font-weight: bolder;
}

.restau__vign__bvign__text i {
  margin: 10px;
}

.restau__vign__bvign__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restau__vign__bvign__heart i:hover {
  background: -webkit-linear-gradient(0deg, #9356DC 5%, #FF79DA 90%);
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.restau__vign__img {
  width: 100%;
  height: 70%;
}

.restau__vign__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (min-width: 700px) and (max-width: 900px) {
  .filtres {
    width: 100%;
    height: 150px;
  }
  .filtres__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .filtres__list__div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .filtres__list__div__nb {
    margin-top: 10px;
  }
  .restau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restau__vign {
    width: 300px;
    height: 220px;
    margin: 20px;
  }
  .restau h1 {
    margin-left: 80px;
  }
}

@media all and (min-width: 901px) and (max-width: 1100px) {
  .headera {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .headera__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bandeau {
    width: 100%;
    height: 300px;
    background: #99e2d0;
  }
  .bandeau__research {
    width: 40%;
    height: 25px;
    margin: 10px 10px 10px 30px;
  }
  .bandeau__text {
    width: 40%;
  }
  .bandeau__text p {
    margin: 10px;
  }
  .bandeau__btn {
    margin: 10px;
  }
  .filtres {
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filtres__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .filtres__list__div {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
  }
  .restau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restau__vign {
    width: 100%;
    margin: 20px;
  }
  .restau a {
    width: 40%;
    margin: 10px;
  }
  .restau h1 {
    margin-left: 120px;
  }
}

@media all and (min-width: 1101px) {
  .headera {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .headera__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bandeau {
    width: 100%;
    height: 300px;
    background: #99e2d0;
  }
  .bandeau__research {
    width: 40%;
    height: 25px;
    margin: 10px 10px 10px 30px;
  }
  .bandeau__text {
    width: 40%;
  }
  .bandeau__text p {
    margin: 10px;
  }
  .bandeau__btn {
    margin: 10px;
  }
  .filtres {
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filtres__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .filtres__list__div {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
  }
  .restau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restau__vign {
    width: 100%;
    margin: 20px;
  }
  .restau a {
    width: 30%;
    margin: 10px;
  }
  .restau h1 {
    margin-left: 60px;
  }
}

@-webkit-keyframes load {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  to {
    opcity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes load {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  to {
    opcity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.img {
  width: 100%;
}

.img img {
  width: 100%;
}

.back {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  padding: 20px;
  margin-top: -60px;
}

.title {
  font-family: "shrikhand";
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.title__heart {
  margin-right: 20px;
}

.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-animation: menu 4000ms 0ms;
          animation: menu 4000ms 0ms;
}

.plats {
  -webkit-animation: menu 5000ms 1000ms;
          animation: menu 5000ms 1000ms;
}

.desserts {
  -webkit-animation: menu 6000ms 2000ms;
          animation: menu 6000ms 2000ms;
}

h2 {
  text-transform: uppercase;
  font-size: medium;
  font-weight: lighter;
  line-height: 1.4em;
}

h2::before {
  content: "";
}

h2::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #99e2d0;
}

@media all and (min-width: 700px) and (max-width: 900px) {
  .header__img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .header__img a {
    width: 20%;
    margin: 10px 30px 10px 30px;
  }
  .btn {
    width: 70%;
  }
  .btn button {
    width: 50%;
  }
}

@media all and (min-width: 901px) and (max-width: 1100px) {
  .header__img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .header__img a {
    width: 20%;
    margin: 10px 30px 10px 20px;
  }
  .btn {
    width: 80%;
  }
  .btn button {
    width: 30%;
  }
}

@media all and (min-width: 1101px) {
  .header__img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .header__img a {
    width: 20%;
    margin: 10px 30px 10px 20px;
  }
  .btn {
    width: 90%;
  }
  .btn button {
    width: 20%;
  }
}

@-webkit-keyframes menu {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  to {
    opcity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes menu {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  to {
    opcity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */