.img
{
    width: 100%;
        & img
        {
            width: 100%;
        }
}

.back
{
    position: relative;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    padding: 20px;
    margin-top: -60px;
}

.title
{
    font-family: "shrikhand";
    font-size: 1.3rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    &__heart
    {
        margin-right: 20px;
    }
}

.enter
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: menu 400ms 2000ms;
}

.plats
{
    animation: menu 400ms 2000ms;
}

.desserts
{
    animation: menu 400ms 2000ms;
}

h2
{
    text-transform: uppercase;
    font-size: medium;
    font-weight: lighter;
    line-height: 1.4em;
    &::before
    {
        content: "";
    }
    &::after
    {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background-color: $tertiary;
    }
}

@media all and (min-width: 700px) and (max-width: 900px)
{
    .header
    {
        &__img
        {
            justify-content: flex-start;
            align-content: space-around;
            & a
            {
                width: 20%;
                margin: 10px 30px 10px 30px;
            }
        }
    }

    .btn
    {
        width: 70%;
        & button
        {
            width: 50%;
        }
    }
}

@media all and (min-width: 901px) and (max-width: 1100px)
{
    .header
    {
        &__img
        {
            justify-content: flex-start;
            align-content: space-around;
            & a
            {
                width: 20%;
                margin: 10px 30px 10px 20px;
            }
        }
    }

    .btn
    {
        width: 80%;
        & button
        {
            width: 30%;
        }
    }
}

@media all and (min-width: 1101px)
{
    .header
    {
        &__img
        {
            justify-content: flex-start;
            align-content: space-around;
            & a
            {
                width: 20%;
                margin: 10px 30px 10px 20px;
            }
        }
    }
    
    .btn
    {
        width: 90%;
        & button
        {
            width: 20%;
        }
    }
}

@keyframes menu
{
    0%
    {
        transform: scaleY(1000px);
    }
    100% 
    {
        transform: scaleY(0);
    }
}