.img
{
    width: 100%;
        & img
        {
            width: 100%;
            object-fit: cover;
        }
}

.back
{
    position: relative;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    padding: 20px 40px 20px 40px;
    margin-top: -80px;
}

.title
{
    font-family: "shrikhand";
    font-size: 1.3rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    &__heart
    {
        width: 30px;
        height: 30px;
        transition: transform 400ms;
        & i
        {
            font-size: x-large;
            &:hover
            {
                width: 40px;
                height: 40px;
                background: linear-gradient(0deg, #9356DC 5%, #FF79DA 90%);
                background-clip:text;
                color:transparent;
                font-weight: bold;
                transform: scale(1.4);
            }
        }
    }
}

.enter
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: menu 4000ms 0ms;
}

.plats
{
    animation: menu 5000ms 1000ms;
}

.desserts
{
    animation: menu 6000ms 2000ms;
}

h2
{
    text-transform: uppercase;
    font-size: medium;
    font-weight: lighter;
    line-height: 1.4em;
    &::before
    {
        content: "";
    }
    &::after
    {
        content: "";
        display: block;
        width: 40px;
        height: 2px;
        background-color: $tertiary;
    }
}

@media all and (min-width: 700px) and (max-width: 900px)
{
    .header
    {
        &__img
        {
            justify-content: flex-start;
            align-content: space-around;
            & img
            {
                width: 20%;
                margin-left: 80px;
            }
            & a
            {
                width: 20%;
                margin: 10px 30px 10px 30px;
            }
        }
    }

    .btn
    {
        width: 70%;
        & button
        {
            width: 50%;
        }
    }
}

@media all and (min-width: 901px) and (max-width: 1100px)
{
    .header
    {
        &__img
        {
            justify-content: flex-start;
            align-content: space-around;
            & a
            {
                width: 20%;
                margin: 10px 30px 10px 20px;
            }
        }
    }

    .btn
    {
        width: 80%;
        & button
        {
            width: 30%;
        }
    }
}

@media all and (min-width: 1101px)
{
    .img
    {
        & img
        {
            height: 500px;
        }
    }
    
    .header
    {
        &__img
        {
            justify-content: flex-start;
            align-content: space-around;
            & img
            {
                width: 20%;
                margin: 10px 10px 10px 200px;
            }
            & a
            {
                width: 20%;
                margin: 10px 30px 10px 20px;
            }
        }
    }
    
    .back
    {
        width: 60%;
        margin: -160px 30px 10px 200px;
        padding: 20px 80px 20px 80px;
    }
    
    .btn
    {
        width: 90%;
        & button
        {
            width: 20%;
        }
    }
}

@keyframes menu
{
    from
    {
        opacity: 0;
        transform: translateY(-2000px);
    }
    to
    {
        opcity: 1;
        transform: translateY(0px);
    }
}