.img
{
    width: 100%;
        & img
        {
            width: 100%;
        }
}

.back
{
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    padding: 20px;
}

.title
{
    font-family: "shrikhand";
    font-size: 1.3rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    &__heart
    {
        margin-right: 20px;

    }

}

.enter
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h2
{
    text-transform: uppercase;
    font-size: medium;
    font-weight: lighter;
    line-height: 1.4em;
    &::before
    {
        content: "";
    }
    &::after
    {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background-color: $tertiary;
    }
}