.footer
{
    background-color: #353535;
    color: #ffff;
    padding: 10px;
    line-height: 1.6em;
    & a
    {
        text-decoration: none;
        color: #ffff;
    }
    &__h
    {
        font-size: 1em;
        font-weight: lighter;
        font-family: "Shrikhand";
        letter-spacing: 1.5px;
        margin: 10px;
    }
    &__text
    {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 0px 10px;
        & i
        {
            width: 5%;
        }
    }
    & p
    {
        margin-left: 10px;    
    }
    & a
    {
        margin-left: 10px;
    }
}

// @media all and (min-width: 700px) and (max-width: 900px)
// {
//     .footer
//     {
//         height: 200px;
//         &__text
//         {

//         }
//     }
// }