.footer
{
    background-color: #353535;
    color: #ffff;
    padding: 10px 10px 10px 30px;
    line-height: 1.6em;
    & a
    {
        text-decoration: none;
        color: #ffff;
    }
    &__h
    {
        font-size: 1em;
        font-weight: lighter;
        font-family: "Shrikhand";
        letter-spacing: 1.5px;
        margin: 10px 10px 10px 0px;
    }
    &__text
    {
        display: flex;
        flex-direction: row;
        & i
        {
            width: 5%;
            margin: 0px 20px 0px 0px;
        }
    }
    & p
    {

    }
    & a
    {
        
    }
}

@media all and (min-width: 700px) and (max-width: 900px)
{
    .footer
    {
        padding: 10px 10px 10px 20px;
    }
}

@media all and (min-width: 901px) and (max-width: 1100px)
{
    
    .footer
    {
        padding: 10px 10px 10px 120px;
        &__text
        {
            & i
            {
                width: 2%;
            }
        }
    }
}

@media all and (min-width: 1101px)
{
    .footer
    {
        padding: 10px 10px 10px 150px;
        &__text
        {
            & i
            {
                width: 2%;
            }
        }
    }
}